NEXT_PUBLIC_SUPABASE_URL=https://fcdbmbvjxaetebdngiqy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjZGJtYnZqeGFldGViZG5naXF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzOTU0NjIsImV4cCI6MjA5Nzk3MTQ2Mn0.41TXM1_VTZM-zQyhsgs4gUyLIuRP8k4xE4Ml54ycfxE